<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Liudmyla Tkachenko</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>




      <div class="container">
        <br>
          <h1 class="header center pink-text lighten-1" id="landingFont">Liudmyla Tkachenko</h1>
        <div class="row center">
          <div class="carousel">
            <a class="carousel-item"><img src="/images/image1.jpg" class="carouselImage"></a>
            <a class="carousel-item"><img src="/images/image5.jpg" class="carouselImage"></a>
            <a class="carousel-item"><img src="/images/image3.jpg" class="carouselImage"></a>
            <a class="carousel-item"><img src="/images/image9.jpg" class="carouselImage"></a>
            <a class="carousel-item"><img src="/images/image16.jpg" class="carouselImage"></a>
         </div>
        </div>
        <br>
         <div class="row center">
          <a class="waves-effect waves-light btn-large pink lighten-1" href="home">Enter</a>
         </div>





      </div>












  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
